# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Ignore bundler config.
/.bundle
/vendor/bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store
.idea

# Ignore uploaded files in development
/storage/*

/node_modules
/yarn-error.log

/public/assets
/public/packs
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore application configuration
/config/application.yml
/config/secrets.yml
.secret

db/schema.rb

Gemfile.lock
.env*
